<header>
    <nav>
        <ul>
            <li><a href="/">Back</a></li>
        </ul>
    </nav>
    <hr>
    <h1>Election Management App</h1>
</header>

<section>
    <h2>About</h2>
    <p style="color: border-left solid #000;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
</section>

<footer>
    <h3>Election Party</h3>
    <ul>
        <li><img src="images/PDP.png" height="25" alt="Sample Image"></li>
        <li><img src="images/LLP.jpeg" height="25" alt="Sample Image"></li>
        <li><img src="images/APC.jpeg" height="25" alt="Sample Image"></li>
    </ul>
</footer>
