
<header>
    <nav>
        <ul>
            <li><a href="/sheet">View sheet</a></li>
            <li><a href="/store">Candidates/Parties</a></li>
            <li><a href="/">Back</a></li>
        </ul>
    </nav>
    <hr>
    <h1 style="color: #090;">Election Management App</h1>
    <br>
    <h5>Subcategories:</h5>
</header>

<h5>This category has the following 7 subcategories, out of 7 total.</h5>

<h6>Candidates for President of Nigeria by party:</h6>

<h6>The following 11 pages are in this category, out of 11 total.</h6>
<br>
<h6>This list may not reflect recent changes.</h6>

<ol>
    A :
    Atiku Abubakar
    <br>
    B :
    Attahiru Bafarawa
    <br>
    D :
    Fela Durotoye
    <br>
    E :
    Oby Ezekwesili
</ol>

<br>
F : 
Adesina Fagbenro
Tope Fasua
<br>
M :
Kingsley Moghalu
<br>
N :
Bartholomew Nnaji
<br>
S :
Omoyele Sowore
Maitama Sule
<br>
Y :
Muhammadu Dikko Yusufu
<br>
    F :
    Adesina Fagbenro
    Tope Fasua
    <br>
    M :
    Kingsley Moghalu
    <br>
    N :
    Bartholomew Nnaji
    <br>
    S :
    Omoyele Sowore
    Maitama Sule
    <br>
    Y :
    Muhammadu Dikko Yusufu
</ol>

Categories: <h6><a>Nigerian political candidates</a><a>Presidential candidates</a></h6>
Hidden category: Commons category link is on Wikidata
<p>This page was last edited on 15 February 2022, at 16:48 (UTC).</p>
<p>Text is available under the Creative Commons Attribution-ShareAlike 4.0 License; additional terms may apply. By using this site, you agree to the Terms of Use.</p>

<footer>
    <h3>Election Party</h3>
    <ul>
        <li><img src="images/PDP.png" height="25" alt="Sample Image"></li>
        <li><img src="images/LLP.jpeg" height="25" alt="Sample Image"></li>
        <li><img src="images/APC.jpeg" height="25" alt="Sample Image"></li>
    </ul>
</footer>


