<link rel="stylesheet" href="/stylesheet-sheet.css">

<header>
    <nav>
        <ul>
            <li><a href="/index">Back</a></li>
            <li><a href="/polling-unit">Polling Units</a></li>
        </ul>
    </nav>
    <hr>
</header>

<footer>
    <h3>Election Party</h3>
</footer>

<div class="css-table">
    <div class="table-header">
        <div class="table-cell">Party</div>
        <div class="table-cell">Votes</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">APC</div>
        <div class="table-cell">1,234,567</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">PDP</div>
        <div class="table-cell">987,654</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">ADC</div>
        <div class="table-cell">543,210</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">AAC</div>
        <div class="table-cell">123,456</div>
    </div>

    <div class="table-row">
        <div class="table-cell">SPD</div>
        <div class="table-cell">789,012</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">NDC</div>
        <div class="table-cell">976,543</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">AP</div>
        <div class="table-cell">123,456</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">AMP</div>
        <div class="table-cell">789,012</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">ADP</div>
        <div class="table-cell">123,456</div>
    </div>
</div>

<br>

<div class="css-table">
    <div class="table-header">
        <div class="table-cell">Party/state</div>
        <div class="table-cell">Votes</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">APC (Lagos)</div>
        <div class="table-cell">93,567</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">PDP (Lagos)</div>
        <div class="table-cell">78,654</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">ADC (Lagos)</div>
        <div class="table-cell">31,210</div>
    </div>

  
      <div class="table-row">
        <div class="table-cell">AAC (Lagos)</div>
        <div class="table-cell">12,345</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">SPD (Lagos)</div>
        <div class="table-cell">19,901</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">NDC (Lagos)</div>
        <div class="table-cell">6,543</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">AP (Lagos)</div>
        <div class="table-cell">12,345</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">AMP (Lagos)</div>
        <div class="table-cell">11,901</div>
    </div>
    
    <div class="table-row">
        <div class="table-cell">ADP (Lagos)</div>
        <div class="table-cell">12,345</div>
    </div>
</div>

<h5>At a polling unit, a citizen can either register to vote or vote. It is advisable to select a Polling Unit close to your area of residence due to</h5>
<h5>States With The Highest Voter Turnout</h5>

<h6>
    Kano State: 1,791,248 valid votes
    <br>
    Lagos State: 1,357,090 valid votes
    <br>
    Kaduna State: 1,335,417 valid votes
    <br>
    Oyo State: 759,484 valid votes
    <br>
    Rivers State: 496,168 valid votes
</h6>


     <ul>
        <li><img src="images/PDP.png" height="25" alt="Sample Image"></li>
        <li><img src="images/LLP.jpeg" height="25" alt="Sample Image"></li>
        <li><img src="images/APC.jpeg" height="25" alt="Sample Image"></li>
</ul>
